    <div id="top"></div>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">
                <img src="http://www.proveedoresdemineria.com/assets/anuncios/normal/afer1.gif" width="80" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item pad-h">
                        <a class="nav-link scroll" href="#top">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item pad-h">
                        <a class="nav-link scroll" href="#nosotros">Nosotros</a>
                    </li>
                    <li class="nav-item pad-h hidden-while-collapses-nav">
                        <a class="nav-link scroll" href="#servicios">Servicios</a>
                    </li>
                    <li class="nav-item pad-h hidden-except-collapses-nav">
                        <a class="nav-link scroll" href="#servicios-mobile">Servicios</a>
                    </li>
                    <li class="nav-item pad-h">
                        <a class="nav-link scroll" href="#productos">Productos</a>
                    </li>
                    <li class="nav-item pad-h">
                        <a class="nav-link scroll" href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
    </nav>


<header id="inicio" class="display-flex">
    <div class="video-wrapper"
         style="background-image: url('http://sameatlantapost.org/wp-content/uploads/2014/02/SAME-Upper-background_small-400x800.jpg')">
        <img class="hidden-while-collapses-nav" style="height:100%" src="http://gelplumbing.com.au/wp-content/uploads/2013/09/blog_pipes_by_ectosage-d2xf0ic.jpg">
        <div class="overlay"></div>
    </div>

    <div class="container">
        <div class="callout text-center">
            <div class="logo">
                <!--<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350.25 54.91">-->
                    <!--<defs></defs>-->
                    <!--<title>AFER-logo</title>-->
                    <!--<path d="M899.23,529.11,902,542.77c.61,3.4,1.29,7.07,1.84,10.87h.2c.61-3.73,1.63-7.54,2.38-10.8l3.53-13.73h8.15l3.33,13.25c1,3.81,1.83,7.47,2.44,11.28H924c.48-3.73,1.15-7.54,2-11.35l2.79-13.18h10.12l-10.19,33.23H919l-3.12-11.62a99.43,99.43,0,0,1-2.18-10.4h-.13a89.77,89.77,0,0,1-2.1,10.33l-3.33,11.69h-9.72l-9.72-33.23Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M949.08,549c.34,4.35,4.55,6.39,9.38,6.39a27.26,27.26,0,0,0,9.17-1.43l1.36,7A31.44,31.44,0,0,1,957,563c-11.28,0-17.73-6.52-17.73-17,0-8.42,5.3-17.73,16.79-17.73,10.73,0,14.81,8.35,14.81,16.58a26.28,26.28,0,0,1-.34,4.15l-21.4-.07Zm12.16-7.07c0-2.45-1.09-6.73-5.78-6.73-4.42,0-6.18,4-6.45,6.73Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M975.29,514.1h10.33v19h.14c2-2.86,5.43-4.69,10.05-4.69,8,0,13.73,6.59,13.66,16.78,0,12-7.54,17.94-15.15,17.94-3.88,0-7.68-1.43-10-5.37h-.14l-.41,4.62H975c.14-2.17.27-6.18.27-9.92V514.1Zm10.33,34.11a7.67,7.67,0,0,0,.2,1.83,6.32,6.32,0,0,0,6,4.89c4.42,0,7.13-3.39,7.13-9.37,0-5.16-2.31-9.24-7.13-9.24a6.4,6.4,0,0,0-6,5.09,8.82,8.82,0,0,0-.2,1.9v4.89Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M1019.3,529.45l2.85,18.76c.48,3.73,1,6.32,1,8.08h.2c.75-1.77,1.63-3.94,3.54-7.68l10-19.16h6.18l-18.28,32.89h-5.5l-5.71-32.89Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M1064,560.5a23.46,23.46,0,0,1-10.87,2.58c-8.7,0-12.5-6-12.5-13.25,0-9.92,7.34-21.13,17.94-21.13,6.25,0,9.65,3.74,9.65,8.49,0,8.63-9.72,10.87-21.88,10.67a13.64,13.64,0,0,0,.68,6.25c1.29,3,3.94,4.42,7.34,4.42a18.42,18.42,0,0,0,8.84-2.24l.82,4.21Zm-1.23-23.24c0-2.65-2-4.14-5-4.14-5.37,0-9.38,5.23-10.74,10.39,8.84.14,15.76-1.09,15.76-6.18v-.07Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M1083.88,521.57l-1.49,7.88h7.88l-.88,4.42h-7.88l-3,16a24.19,24.19,0,0,0-.68,5.23c0,2,.95,3.2,3.12,3.2a10.25,10.25,0,0,0,2.65-.27l-.27,4.42a13.14,13.14,0,0,1-4.35.61c-5,0-6.93-3-6.93-6.38a31.08,31.08,0,0,1,.74-6.18l3.2-16.65h-4.69l.82-4.42h4.69l1.15-6,5.91-1.83Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M1101.88,563.08c-8.22,0-12.84-6.12-12.84-13.52,0-10.87,7.54-20.86,18.21-20.86,8.91,0,12.91,6.72,12.91,13.66,0,10.2-7.2,20.72-18.21,20.72Zm.68-4.48c6.66,0,11.69-8.57,11.69-16.24,0-3.8-1.77-9.17-7.68-9.17-7.07,0-11.76,8.63-11.76,16.17,0,5.37,3,9.24,7.68,9.24Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M1129.11,518.11a5.24,5.24,0,1,1-5.21,5.23,5.16,5.16,0,0,1,5.21-5.23Zm0,.82a4.43,4.43,0,1,0,4.2,4.44,4.31,4.31,0,0,0-4.2-4.44Zm-1,7.46h-.93v-5.83a10.35,10.35,0,0,1,1.65-.14,3.08,3.08,0,0,1,1.81.44,1.4,1.4,0,0,1,.54,1.21,1.45,1.45,0,0,1-1.14,1.42v0c.51.09.86.56,1,1.42a4.85,4.85,0,0,0,.37,1.44h-1a4.37,4.37,0,0,1-.4-1.49,1.09,1.09,0,0,0-1.25-1h-.65v2.51Zm0-3.23h.67c.77,0,1.42-.28,1.42-1,0-.51-.37-1-1.42-1a4.53,4.53,0,0,0-.67,0v2Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M816.5,567.89a5.14,5.14,0,0,1-4.39-2.45l-27.35-44.6a5.14,5.14,0,0,1,4.38-7.83h28.7a5.15,5.15,0,0,1,4.49,2.63l7.8,13.92,8.28-14a5.15,5.15,0,0,1,4.43-2.53h28.7a5.14,5.14,0,0,1,4.33,7.93l-28.7,44.6a5.14,5.14,0,0,1-8.81-.27l-8.45-15.09-9,15.19a5.14,5.14,0,0,1-4.38,2.53Zm-18.17-44.6,18.09,29.48,7.66-13-9.25-16.51Zm37.61,16.64,7.2,12.84,19-29.48H845.77l-9.83,16.64Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                    <!--<path d="M829.89,550.17l6-10.24,7.2,12.84,19-29.48H845.77l-9.83,16.64-5.81-10.38,7.45-12.61s1.65-3.94,5.26-3.94c7.25,0,29.45.18,29.45.18s6.92,1.12,3.57,7.74l-28.7,44.6s-4.37,5.53-8.81-.27l-8.45-15.09Z"-->
                          <!--transform="translate(-784 -513)" class="cls-1"></path>-->
                <!--</svg>-->
            </div>
            <div class="callout-text">
                <img class="img" style="width:200px;height:150px;min-height:0;top:0;background:transparent;transform: skew(0deg) rotate(-0deg);" src="http://www.proveedoresdemineria.com/assets/anuncios/normal/afer1.gif">
                <p>Plomería Especializada</p>
                <div class="small">
                    <p>Lorem ipsum dolor sit amet...</p>
                </div>
            </div>
            <a href="#productos" class="btn btn-primary pad-h col-lg-2 col-md-3 col-xs-5 text-center scroll">Plomero</a>
            <a href="#nosotros" class="btn btn-primary pad-h col-lg-2 col-md-3 col-xs-5 text-center scroll">Gobierno</a>
            <a href="#servicios" class="btn btn-primary pad-h col-lg-2 col-md-3 col-xs-5 text-center scroll">Constructora</a>
        </div>
    </div>
</header>

<div id="scroll-to"></div>


<section id="nosotros" class="section-m-b about-us">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <div class="subtitle">Nosotros</div>
                <h2 class="with-subtitle" style="margin-left: -1px;">LA SOLUCION DE PLOMERÍA</h2>
                <div class="text-spacious">
                    <p>  Arale grand freeza burter brief nicky flying. Force korin leon z dende ha videl bojack. Broly ginyu. Robot pilaf namekian 18 grand scarface aka hame mercenary ha cacao. Papoi satan. Radar broly marron future shinhan kame baba raspberry 17 super ha froug. Olibu radar. Nicky roshi fighter mr.. Bujin videl ginger pole 18 buu corporation. Spice earth pai ultra lakasei god bio-broly kami corporation mai. Maron majin arqua ball z robot lakasei dodoria mercenary hame ape korin bio-broly army pai namole. Arale gohan zangya force launch. Satan robot pilaf capsule.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div id="carouselIndicators" class="carousel slide" data-ride="carousel" >
                    <ol class="carousel-indicators">
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="https://img.elcomercio.pe/files/ec_article_multimedia_gallery/uploads/2017/11/13/5a09cb985ff9e.jpeg" alt="Primera Slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="https://i1.wp.com/www.gamerfocus.co/wp-content/uploads/2017/10/dragon_ball_super_06.png?resize=1160%2C653" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="http://www.fotogramas.es/var/ezflow_site/storage/images/series-television/dragon-ball-super-son-goku-vegeta-son-gohan-freezer/137758102-1-esl-ES/Dragon-Ball-Super-Veremos-a-Son-Goku-Vegeta-y-Son-Gohan-aliados-con-Freezer_landscape.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <!--Text box underneath-->
        <div class="row">
            <div class="col-sm-3 col-md-3 text-center">
                <a href="#contacto" class=" margin-v btn btn-primary scroll">Ponte en contacto</a>
            </div>
            <div class="col-xs-12 col-sm-8  col-md-8 offset-md-1 offset-lg-0">
                <div class="reveal floating-quote floating-quote-with-quotation-mark">
                    <div class="text"><p>Papoi fasha babidi. Brief fasha aka videl bio-broly nam corporation ha machine 18 baba namekian chaozu. Grand bulma onio.</p> </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services margin-v hidden-md-down" id="servicios">
    <div class="container">
        <div class="row  carousel slide" data-ride="carousel" id="carouselIndicators2" data-interval="false">
            <!--<div id="carouselIndicators2" class="carousel slide" data-ride="carousel">-->

                <div class="col-md-5 col-xs-12 left">
                    <div class="subtitle">Lo que hacemos</div>
                    <h2 class="with-subtitle">Nuestros Servicios</h2>

                    <ol class="nav flex-column carousel-indicators"  >
                        <li data-target="#carouselIndicators2" data-slide-to="0" class="nav-item active" >
                            <a class="nav-link" ><i class="fa fa-wrench" aria-hidden="true"></i> Servicio 1</a>
                        </li>
                        <li data-target="#carouselIndicators2" data-slide-to="1" class="nav-item"  >
                            <a class="nav-link"><i class="fa fa-cogs" aria-hidden="true"></i> Servicio 2</a>
                        </li>
                        <li class="nav-item" data-target="#carouselIndicators2" data-slide-to="2">
                            <a class="nav-link" ><i class="fa fa-star-o" aria-hidden="true"></i> Servicio 3</a>
                        </li>
                        <li class="nav-item" data-target="#carouselIndicators2" data-slide-to="3">
                            <a class="nav-link" ><i class="fa fa-shopping-cart" aria-hidden="true"></i> Servicio 4</a>
                        </li>
                        <li class="nav-item"  data-target="#carouselIndicators2" data-slide-to="4">
                            <a class="nav-link"><i class="fa fa-bath" aria-hidden="true"></i> Servicio 5</a>
                        </li>
                        <li class="nav-item" data-target="#carouselIndicators2" data-slide-to="5">
                            <a class="nav-link" ><i class="fa fa-handshake-o" aria-hidden="true"></i>Servicio 6</a>
                        </li>
                        <li class="nav-item" data-target="#carouselIndicators2" data-slide-to="6">
                            <a class="nav-link" ><i class="fa fa-university" aria-hidden="true"></i> Servicio 7</a>
                        </li>
                    </ol>
                </div>
                <div class="col-md-7 right">
                    <div class="wrapper offset-md-1">
                        <div class="carousel-inner " role="listbox" style="text-align:justify">
                            <div class="carousel-item active">
                                <h2 class="margin-v"><i class="fa fa-wrench" aria-hidden="true"></i> Servicio 1</h2>
                                <div class="col-md-10 offset-md-1 ">
                                    <img class="d-block img-fluid col-uxl-10 offset-uxl-1" src="https://img.elcomercio.pe/files/ec_article_multimedia_gallery/uploads/2017/11/13/5a09cb985ff9e.jpeg" alt="Primera Slide">
                                    <p >Ginyu salza gero. Grand arale corporation 18 garlic spice emperor mercenary. Robot gohan pui dolltaki capsule king. Great spice goku burter raspberry brief jeice future namekian pan. Super brief grandpa lord namekian rasin. Great akira. Guido earth corporation gure blueberry jr. orlen master boo 18 z. Bujin bills z bubbles 17 gotenks. Salza spice daemon towa tapion uub sansho jeice amond nam lord cell mai. </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h2><i class="fa fa-cogs" aria-hidden="true"></i>Servicio 2</h2>
                                <div class="col-md-10 offset-md-1 ">
                                    <img class="d-block img-fluid col-uxl-10 offset-uxl-1" src="https://i1.wp.com/www.gamerfocus.co/wp-content/uploads/2017/10/dragon_ball_super_06.png?resize=1160%2C653" alt="Second slide">
                                    <p>Dende papoi. Namek guido syn baba dolltaki z corporation suno piccolo 18. Great spice toriyama akira 18 chaozu. Miira ultra mai jr. 17 shorty fighters saiyan kakarot freezer. Jeice nicky shinhan toriyama energy patrol dolltaki baby appule. Orlen broly namekian fasha. Jeice amond jackie master fasha nam baba jeice. Grand force towa scarface tournament ginger towa journey earth goten patrol. Satan papoi. Great amond. </p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <h2><i class="fa fa-star-o" aria-hidden="true"></i> Servicio 3</h2>
                                <div class="col-md-10 offset-md-1">
                                    <img class="d-block img-fluid col-uxl-10 offset-uxl-1" src="http://www.fotogramas.es/var/ezflow_site/storage/images/series-television/dragon-ball-super-son-goku-vegeta-son-gohan-freezer/137758102-1-esl-ES/Dragon-Ball-Super-Veremos-a-Son-Goku-Vegeta-y-Son-Gohan-aliados-con-Freezer_landscape.jpg" alt="Third slide">
                                    <p>Rasin broly yajirobe dende shugesh mr. 17 fasha. Great fasha. Froug satan kai hirudegarm 18. Akira earth suno ultimate raspberry 18 corporation. Earth bills blood master corporation recoome bujin. Amond namek ox-king sansho 17 goten future turtle froug bebi bido ribbon pai nam. Roshi arale. Force super android. Bujin arale. Jeice namek gotenks ha fusion 17 towa vegito pai turles launch raspberry spice scarface 17 broly. </p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselIndicators2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselIndicators2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="servicios-mobile" class="services services-mobile hidden-md-up section-m-b">
    <div class="container">
        <div class="subtitle">Lo que hacemos</div>
        <h2 class="with-subtitle">Nuestros Servicios</h2>

        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fa fa-wrench" aria-hidden="true"></i> Servicio 1
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                        <img class="d-block img-fluid" src="https://img.elcomercio.pe/files/ec_article_multimedia_gallery/uploads/2017/11/13/5a09cb985ff9e.jpeg" alt="Primera Slide">
                        <p>Ginyu salza gero. Grand arale corporation 18 garlic spice emperor mercenary. Robot gohan pui dolltaki capsule king. Great spice goku burter raspberry brief jeice future namekian pan. Super brief grandpa lord namekian rasin. Great akira. Guido earth corporation gure blueberry jr. orlen master boo 18 z. Bujin bills z bubbles 17 gotenks. Salza spice daemon towa tapion uub sansho jeice amond nam lord cell mai. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <i class="fa fa-cogs" aria-hidden="true"></i>Servicio 2
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        <img class="d-block img-fluid" src="https://i1.wp.com/www.gamerfocus.co/wp-content/uploads/2017/10/dragon_ball_super_06.png?resize=1160%2C653" alt="Second slide">
                        <p>Dende papoi. Namek guido syn baba dolltaki z corporation suno piccolo 18. Great spice toriyama akira 18 chaozu. Miira ultra mai jr. 17 shorty fighters saiyan kakarot freezer. Jeice nicky shinhan toriyama energy patrol dolltaki baby appule. Orlen broly namekian fasha. Jeice amond jackie master fasha nam baba jeice. Grand force towa scarface tournament ginger towa journey earth goten patrol. Satan papoi. Great amond. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <i class="fa fa-star-o" aria-hidden="true"></i> Servicio 3
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                        <img class="d-block img-fluid" src="http://www.fotogramas.es/var/ezflow_site/storage/images/series-television/dragon-ball-super-son-goku-vegeta-son-gohan-freezer/137758102-1-esl-ES/Dragon-Ball-Super-Veremos-a-Son-Goku-Vegeta-y-Son-Gohan-aliados-con-Freezer_landscape.jpg" alt="Third slide">
                        <p>Rasin broly yajirobe dende shugesh mr. 17 fasha. Great fasha. Froug satan kai hirudegarm 18. Akira earth suno ultimate raspberry 18 corporation. Earth bills blood master corporation recoome bujin. Amond namek ox-king sansho 17 goten future turtle froug bebi bido ribbon pai nam. Roshi arale. Force super android. Bujin arale. Jeice namek gotenks ha fusion 17 towa vegito pai turles launch raspberry spice scarface 17 broly. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="productos" class="products section-m-b">
    <div class="container">
        <div class="subtitle">Productos</div>
        <h2 class="with-subtitle" style="margin-left: -1px;">Nuestro Catálogo</h2>
        <div class="text-spacious">
            <p>  Arale grand freeza burter brief nicky flying. Force korin leon z dende ha videl bojack. Broly ginyu. Robot pilaf namekian 18 grand scarface aka hame mercenary ha cacao. Papoi satan. Radar broly marron future shinhan kame baba raspberry 17 super ha froug. Olibu radar. Nicky roshi fighter mr.</p>
        </div>

        <div class="card-deck text-center">

            <div class="card">
                <img class="card-img-top " src="http://maxpixel.freegreatpicture.com/static/photo/2x/Galvanized-Plumber-Plumbing-Metal-Pipe-Open-Close-1433606.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title ">Producto 1</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top " src="https://assets.serviz.com/public/servicetype/1063/brand/1/iphone_listing_2x/plumbing-journeyman@2x.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Producto 2</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>

            <div class="w-100  hidden-md-up"><!-- wrap every 2 on sm--></div>

            <div class="card">
                <img class="card-img-top" src="http://dicol.com.co/wp-content/uploads/2016/01/1FOTO-PRINCIPAL-640x420.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Producto 3</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                </div>
            </div>

            <div class="w-100 hidden-md-down hidden-lg-up"><!-- wrap every 3 on md--></div>

            <div class="card">
                <img class="card-img-top " src="http://de.celexon.com/out/pictures/master/product/1/ps815_pipes.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Producto 4</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                </div>
            </div>

            <div class="w-100  hidden-md-up"><!-- wrap every 2 on sm--></div>
            <div class="w-100 hidden-lg-down hidden-4k-up"><!-- wrap every 2 on sm--></div>


            <div class="card">
                <img class="card-img-top " src="http://maxpixel.freegreatpicture.com/static/photo/2x/Galvanized-Plumber-Plumbing-Metal-Pipe-Open-Close-1433606.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title ">Producto 5</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural.</p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top " src="https://assets.serviz.com/public/servicetype/1063/brand/1/iphone_listing_2x/plumbing-journeyman@2x.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Producto 6</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>

            <div class="w-100  hidden-md-up"><!-- wrap every 2 on sm--></div>
            <div class="w-100 hidden-md-down hidden-lg-up"><!-- wrap every 3 on md--></div>

            <div class="card">
                <img class="card-img-top" src="http://dicol.com.co/wp-content/uploads/2016/01/1FOTO-PRINCIPAL-640x420.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Producto 7</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top " src="http://de.celexon.com/out/pictures/master/product/1/ps815_pipes.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Producto 8</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
                </div>
            </div>
            <div class="card hidden-sm-down hidden-lg-up blank">

            </div>

            <div class="w-100 hidden-xs-down hidden-md-up"><!-- wrap every 2 on sm--></div>
            <div class="w-100 hidden-md-down hidden-4k-up"><!-- wrap every 4 on lg--></div>

        </div>
    </div>

</section>


<section  class="contact">
    <div class="container p-t-20">
        <div class="row margin-v">
            <div class="col-xs-12 col-md-offset-1 col-md-10">
                <div class="subtitle" id="contacto">Contacto</div>
                <h2 class="with-subtitle" style="margin-left: -1px;">Como encontrarnos</h2>
                <p>Si estas interesado en nuestros servicios, no dudes en contactarnos</p>
            </div>
        </div>
    </div>
</section>


<section class="contact-box">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-11 card ">
                <div class="row m-v-0">
                    <div class="col-xs-12 col-md-7 contact-form display-flex">
                        <h3 class="margin-v">Envíanos un mensaje</h3>
                        <h3 class="submitted" style="display: none;">Gracias por ponerte en contacto con nosotros.</h3>
                        <form method="POST" action="/">
                            <input type="hidden" name="action" value="contact-form/send">
                            <div class="row m-v-0"><div class="col-xs-12 col-md-5">
                                <label for="fromName">Tu Nombre</label>
                                <input id="name" type="text" name="fromName" required="required"></div>
                                <div class="col-xs-12 col-md-5 col-md-offset-2">
                                    <label for="fromEmail">Correo Electrónico</label>
                                    <input id="email" type="email" name="fromEmail" required="required"></div>
                                <div class="col-xs-12 col-md-5"><label for="message[Phone]">Teléfono</label>
                                    <input id="phone" type="text" name="message[Phone]" required="required"></div>
                                <div class="col-xs-12 col-md-5 col-md-offset-2"><label for="message[Company]">Compañía</label>
                                    <input id="company" type="text" name="message[Company]" required="required"></div>
                                <div class="col-xs-12 col-md-9"><label for="message[body]">Mensaje</label>
                                    <textarea id="message" name="message[body]" required="required"></textarea>
                                </div> <div class="col-xs-12 col-md-3 display-flex">
                                    <button type="submit" class="btn btn-primary-square m-b-25 m-t-auto">
                                        <span>Send</span><span style="display: none;">
                                        <i class="fa fa-cog fa-spin"></i>
                                    </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-md-5 contact-information">
                        <h3>Información de Contacto</h3>

                        <p class="p-l-30 m-t-0 m-b-10">
                            <i class="fa fa-absolute fa-map-marker"></i>
                            Blvd. J. Fuentes Mares 9802, Juárez, 31064 Chihuahua.
                        </p>
                        <p class="p-l-30 m-t-0 m-b-10">
                            <i class="fa fa-absolute fa-envelope-o"></i>
                            contacto@afer.com</p>
                        <p class="m-b-20 m-t-auto">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="embed-responsive embed-responsive-16by9"  id="map" style="height: 200px;margin-bottom:50px">
</div>

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <div class="logo"></div>
                <p class="margin-v">© 2018 Company. Derechos et etc etc</p>
            </div>

            <div class="col-xs-12 col-md-3">
                <p>Calle X num 53454 Ciudad Y <br> 103222, Mexico <br> contacto@xxxxx.mx</p>
                <a class="logo" href="http://notecode.mx" target="_blank">
                    <img src="/images/NCC10.png" style="width:100px">
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    <!-- CODE TO RUN TO SWAP NAVBAR -->
    let nav_trans = true;

    $( document ).ready(function() {
        // Handler for .ready() called.
        let element_position = $('#scroll-to').offset().top;
        let screen_height = $(window).height();
        let activation_offset = 0.3;//determines how far up the the page the element needs to be before triggering the function
        let activation_point = element_position - (screen_height * activation_offset);
        let max_scroll_height = $('body').height() - screen_height - 5;//-5 for a little bit of buffer
        //Does something when user scrolls to it OR
        //Does it when user has reached the bottom of the page and hasn't triggered the function yet
        $(window).on('scroll', function () {
            let y_scroll_pos = window.pageYOffset;
            let element_in_view = y_scroll_pos > activation_point;
            let has_reached_bottom_of_page = max_scroll_height <= y_scroll_pos && !element_in_view;

            if (nav_trans && (element_in_view || has_reached_bottom_of_page)) {
                swapNav();
            }
            else if (!nav_trans && !element_in_view && !has_reached_bottom_of_page) {
                swapNav();
            }
        });

        function swapNav() {
            if (nav_trans) {
                $('#navbar').addClass('sticky-top').addClass('scrolled').animate({opacity:1}, 300);
                nav_trans = false;
            }
            else {
                $('#navbar').animate({opacity:0}, 300, function(){
                    $(this).removeClass('sticky-top').removeClass('scrolled').css({opacity:1});
                });
                nav_trans = true;
            }
        }

        //    SMOOTH SCROLLING
        // need different offset on mobile
        let offset =-60;
        if($( window ).width()< 992){
            offset = -270;
        }
        $('a.scroll[href*="#"]:not([href="#"])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top + offset
                    }, 1000);
                    return false;
                }
            }
        });


        // Mobile Nav auto-collapse
        $('a.nav-link').on('click', function(){
            $('.navbar-toggler').click() //bootstrap 4.x by Richard
        });

    });

</script>
<!--// GOOGLE MAPS API-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWPIxMlGvzCHcz0wEvJQk4zcdwrmpj6qs&region=MX&language=mx" defer></script>
<script src="/javascripts/google-map.js" type="text/javascript"></script>

<script src="https://use.fontawesome.com/974f975806.js" async defer></script>
